.headerTitle {
  font-family: "Rokkitt", serif;
  font-weight: 800;
}

.header {
  position: relative;

  @media screen and (max-width: 820px) {
    svg {
      visibility: hidden;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      position: absolute;
      margin: 0 auto;
      transform: translateX(-5%);
      font-size: 3rem !important;
      overflow-x: visible !important;
    }
  }
}