@import './variables';

.header {
  padding-top: 32px;
  .headerNav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 128px;
    @media (max-width: 1080px) {
      gap: 64px
    }
    @media (max-width: 400px) {
      gap: 32px
    }
    .headerNavLi {
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 24px;
      color: $primary-color;
      @media (max-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }
}

.hamburguerMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
